# =============== #
# Unity generated #
# =============== #

Assets/AssetStoreTools*
Build/
Builds/
Library/
Obj/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ================= #
# Unity3D generated #
# ================= #
*.pidb.meta
*.pdb.meta
sysinfo.txt

# ====== #
# Builds #
# ====== #
*.apk
*.unitypackage

# ===================== #
# Crashlytics generated #
# ===================== #
Assets/StreamingAssets/crashlytics-build.properties

# ===== #
# Notes #
# ===== #
*.csv

# ====== #
# Sounds #
# ====== #
*.wav
*.mp4
*.mp3

# ============ #
# for others   #
# ============ #
EnvDataStore.cs
EnvDataStore.cs.meta
.vscode
*.log
sysinfo.txt
Assets/Project/Resources/Jacket/*.png